
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="p-10">
    <%= link_to "Home", "/", class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'New Frame', new_frame_path, class: "bg-indigo-500 text-white px-4 py-2 border rounded-md hover:bg-white hover:border-indigo-500 hover:text-black" %>
    <h1 class="mb-4 text-4xl font-black">Frames</h1>
    <table class="min-w-full table-auto">
      <thead class="bg-gray-800 text-gray-300">
      <tr>
        <th>Name</th>
        <th colspan="2">Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @frames.each do |frame| %>
        <tr class="border-4 border-gray-200">
          <td class="text-center"><%= frame.name %></td>
          <td class="text-center"><%= link_to 'Edit', edit_frame_path(frame) %></td>
          <td class="text-center"><%= link_to 'Destroy', frame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

