<div class="w-full">
  <p style="color: green"><%= notice %></p>

  <%= render @photo %>

  <div class="p-10">
    <%= link_to "Edit this photo", edit_photo_path(@photo) %> |
    <%= link_to "Photos", photos_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= button_to "Destroy this photo", @photo, method: :delete %>
  </div>
</div>
